/* Practice Layout */

.trash{
	color: black;
}


body{
  font-size: 16px;
}

/** Wrap **/
.pagina-ejemplo{
  background-color: #bbdefb;
  margin: auto;
  max-width: 70%;
  overflow:hidden;
}

/** header  **/
.header {
  background-color: #0d47a1;
  color:white;
  height: 80px;
  padding: 2px 15px 0px 15px;

}

/** nav  **/
.top-nav {
  overflow: hidden;
  background-color: #1565c0;
  text-overflow: ellipsis;
}

/** nav font **/
.top-nav a{
  color: white;
}

.top-nav li{
	list-style: none;
	display: inline;
}
/** content article **/
.content-article{
  background-color: #bbdefb;
  box-sizing: border-box;
  float:right;
  padding: 15px 15px 77px 15px;
  width:60%;
}

.content-article img{
  float:right;
  margin: 0 10px 0 0;
}

/** content aside **/
.content-aside{
  background-color: #2196f3;
  box-sizing: border-box;
  float:left;
  padding: 15px;
  width:40%;
}

/** content gallery **/
.content-gallery{
  background-color: #b2ebf2;
  clear: both;
  overflow: auto;
  padding: 15px 15px 15px 15px;
}

.content-gallery ul {
  list-style:none;

}

.content-gallery li {
  float: left;
	margin:0;
	padding: 10px;
}

/* Content footer */
img ~ p::first-letter, .cf-capital::first-letter{
	float: left;
	font-size: 4em;
	padding-right: 5px;
	margin-bottom: 1px;
	margin-top: 10px;
}

.content-footer img:first-child{
	margin-right: 5px;
	height: 100px;
	width: 100px;
}

.content-footer img:last-child{
	height: 120px;
	width: 80px;
}

.content-footer div{
	display: flex;
	flex-wrap: wrap;
	padding: 10px 15px;
}

.cf-border p{
	width: 90%;
}

.cf-border{
	border: 2px solid #1ABC9C;
}
