/* Practice Layout */

body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


/** Wrap page **/
 .pagina-ejemplo{
   margin: auto;
   max-width: 65%;
 }

 /** Wrap **/
 .contenido{
   background-color:#eceff1;
   padding:15px;
   margin-bottom:20px;
 }

 /** bloque **/
  .content-block{
    border: 5px solid #D24F2E;
    display: table-cell;
    height: 80px;
    margin: 15px;
    padding: 15px;
    width: 1000px;
    vertical-align: middle;
  }

/** Segundo bloque **/
 .property-content-box{
  box-sizing:content-box;
  display: table-cell;
  vertical-align: middle;
 }

/** Tercero bloque **/
 .property-border-box{
  box-sizing:border-box;
  display: table-cell;
  vertical-align: middle;
 }
