/* Practice Layout */

body{
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
}

/* Font */
h3{
	font-size: 1.3em;
	font-weight: 600;
  margin: 0px;
}

/* Page wrap */
.page-container{
	margin-left: 20px;
	width: 40%;
}

/*tabs*/
.tabs {
  background: #efefef;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
  display: flex;
  flex-wrap:wrap;
}

/* Content panel */
.panel {
  background: #fff;
  box-sizing: border-box;
  display: none;
  padding: 25px 30px;
  order: 98;
  width: inherit;
}


/* Input */
.label{
	background-color: #e5e5e5;
  box-sizing: border-box;
	cursor: pointer;
  font-size: 1em;
	font-weight: 600;
	height: 70px;
	padding: 30px;
  padding-top: 25px;
	text-align: center;
	width: auto;
}

.label:hover {
  background: #d8d8d8;
}

.input:focus + .label {
 	border:  3px solid #2aa1c0;
}

.input:checked + .label{
	background-color: #fff;
}

.input:checked + .label + .panel {
	display: block;
}

.input {
	position: absolute;
	opacity: 0;
}

/* Checkbox */

.control-group{
	sizing-box: border-box;
	padding: 0 0 10px 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

input[type="checkbox"], input[type="radio"] {
    display:none;
}

.control-group label span {
  align-items: center;
	background-color: #e6e6e6;
  display: flex;
  height:19px;
  justify-content: center;
  margin-right: 10px;
	margin-bottom: 2px;
  width:19px;
}

.control-group label span:hover {
	background-color: #cecece;
	cursor: pointer;
}

.control-group label:hover {
	cursor: pointer;
}

.control-group label{
	align-items:center;
	display: flex;
  height: min-content;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.control-group input:checked ~ .span-checkbox {
  background: #2aa1c0;
}

.control-group input:checked ~ .span-checkbox:after {
  content: "\2713 ";
  color: white;
  font-size: 14px;
}

.control-group input:disabled ~ .span-checkbox {
  background: #e6e6e6;
}

/* Radio */
.control-group input[type="radio"] ~ span {
	border-radius: 80px;
}

.control-group input:checked ~ .span-radio {
  background: #2aa1c0;
}

.control-group input:checked ~ .span-radio:after {
  content: "\2022";
  color: white;
}

.control-group input:disabled ~ .span-radio {
	background: #e6e6e6;
}

/* Cards */
.list-checks ul{
  list-style: none;
  width: 80%;
}

.list-checks li{
  display: flex;
  font-size: 0.8em;
  padding: 5px;
}

.list-checks li p{
  margin: 0px;
}

.list-checks li:hover{
  background-color: #e2e2e2;
	cursor: pointer;
}

.list-checks img{
  float: left;
  height: 100px;
  width: 100px;
}

li > div{
  width: 100%;
}
