/* Practice Layout */

body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
}

/* Page content */
.page-content{
	padding: 0;
	width: 100%;
}

/*==================================================
=                   Navbar                         =
==================================================*/
.navbar {
  background-color: transparent;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  position: fixed;
  transition-duration: .2s;
  width: 100%;
  z-index: 4;
}

.navbar .logo i,
.navbar .responsive-icon i{
  cursor: pointer;
  font-size: 2.5em;
  padding: 20px 20px;
}

.navbar  a {
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
}

nav.navbar-scroll {
  background-color: #e91e63;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  top: 0;
}

nav.navbar-no-scroll {
  background-color: transparent;
  box-shadow: none;
  top: 64px;
}

.navbar #responsive-menu-toggle,
.navbar #menu{
  display: none;
}

.navbar #responsive-menu {
  background-color: #fafafa;
  box-sizing: border-box;
  color: #757575;
  height: 100%;
  left: 0;
  max-height: 100%;
  margin: 0px;
  overflow: visible;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 0px;
  z-index: 5;
}

.navbar #responsive-menu a {
  color: #757575;
}

.navbar #responsive-menu li {
  cursor: pointer;
  padding: 20px;
}

.navbar #responsive-menu li:not(:first-child):hover {
  background-color: #e0e0e0;
}

.navbar #responsive-menu li:first-child i {
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  right: 20px;
}

.navbar #responsive-menu-toggle:checked + #responsive-menu {
  width: 240px;
}

.top-image{
	background-image:  url(../images/backgrounds/bg1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
  filter: blur(2px);
	position: relative;
	text-align: center;
	height: 230px;
	width: 100%;
}

.top-effect {
  background: linear-gradient(to bottom,rgba(0,0,0,.5) 0,transparent 100%);
  height: 230px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

/*==================================================
=                   Path                           =
==================================================*/
.navigation{
  margin: auto;
  max-width: 1200px;
}

.navigation ul{
  padding: 0;
}

#path li a{
  color: #000;
  font-size: 1.1em;

  padding: 0;content: ' / ';
}

#path li:last-child a{
  #757575;
}

/*==================================================
=                   Content                        =
==================================================*/
.content{
  margin: auto;
  max-width: 1200px;
}


/*==================================================
=                   Discount                       =
==================================================*/
.discount{
	background-image:  url(../images/backgrounds/bg2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	position: relative;
	height: 360px;
	width: 100%;
}

/*==================================================
=                   Footer                         =
==================================================*/
.footer{
	height: 400px;
	width: 100%;
}

.dropdown-container{
	box-sizing: border-box;
	padding: 50px;
}

.dropdown-footer{
	display: inline-block;
	width: 22%;
}

/*==================================================
=     Media query for responsive site              =
==================================================*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    padding: 40px;
  }

  .navbar .responsive-icon,
  .navbar #responsive-menu{
    display: none;
  }

  .navbar #menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .navbar #menu li {
    padding: 20px;
  }

  nav.navbar-scroll {
    background-color: #6600cc;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  nav.navbar-scroll {
    background-color: #ff6600;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  nav.navbar-scroll {
    background-color: #e91e63;
  }
}
